<footer class="footer">
  <div class="footer-items">
    <div class="footer-item">
      <p class="footer-item-title">Footer Content</p>
      <div class="underline"></div>
      <p class="content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas itaque
        laudantium cumque officiis voluptatem praesentium sit iusto
        exercitationem hic minus.
      </p>
    </div>
    <div class="footer-item">
      <p class="footer-item-title">About</p>
      <div class="underline"></div>
      <ul class="foooter-item-links">
        <li class="foooter-item-link">LINK</li>
        <li class="foooter-item-link">LINK</li>
        <li class="foooter-item-link">LINK</li>
        <li class="foooter-item-link">LINK</li>
      </ul>
    </div>
    <div class="footer-item">
      <p class="footer-item-title">Contact</p>
      <div class="underline"></div>
      <ul class="foooter-item-links">
        <li class="foooter-item-link">LINK</li>
        <li class="foooter-item-link">LINK</li>
        <li class="foooter-item-link">LINK</li>
        <li class="foooter-item-link">LINK</li>
      </ul>
    </div>
    <div class="footer-item">
      <p class="footer-item-title">Address</p>
      <div class="underline"></div>
      <ul class="foooter-item-links">
        <li class="foooter-item-link">
          <ion-icon name="home" class="footer-icon"></ion-icon>
          <span>New York, NY 601287 US</span>
        </li>
        <li class="foooter-item-link">
          <ion-icon name="mail" class="footer-icon"></ion-icon>
          <span></span>
          <a href="mailto:test@example.com">test@example.com</a>
        </li>
        <li class="foooter-item-link">
          <ion-icon name="call" class="footer-icon"></ion-icon>
          <a href="tel:+01 123 456">+01 123 456</a>
        </li>
        <li class="foooter-item-link">
          <ion-icon name="phone-portrait" class="footer-icon"></ion-icon>
          <a href="tel:+01 123 456">+01 123 756</a>
        </li>
      </ul>
    </div>
  </div>
  <ul class="icons">
    <li class="icon">
      <ion-icon name="logo-google"></ion-icon>
    </li>
    <li class="icon"><ion-icon name="logo-linkedin"></ion-icon></li>
    <li class="icon"><ion-icon name="logo-twitter"></ion-icon></li>
    <li class="icon"><ion-icon name="logo-facebook"></ion-icon></li>
  </ul>
</footer>
