<input type="text" placeholder="search" />

<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>email</th>
      <th>Gender</th>
      <th>DOB</th>
      <th>Mobile No</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td (click)="GotoDetailsPage(user)">{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.DOB }}</td>
      <td>{{ user.mobile }}</td>
      <td>
        <button class="btn btn-success" (click)="onUpdate(user)">Update</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="onDelete(user)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
