<div
  class="modal-backdrop"
  *ngIf="opened"
  [ngClass]="{ closed: !opened }"
></div>
<div
  class="modal-window"
  [ngClass]="{ closed: !opened }"
  (appOutSideClick)="onClose()"
>
  <div class="modal-header">Header</div>
  <div class="modal-body">
    <div>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis unde
        doloremque blanditiis quaerat quisquam quam odio dignissimos adipisci
        beatae. Dolorum libero id recusandae delectus illum dolorem deserunt
        quod fugit obcaecati?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis unde
        doloremque blanditiis quaerat quisquam quam odio dignissimos adipisci
        beatae. Dolorum libero id recusandae delectus illum dolorem deserunt
        quod fugit obcaecati?
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="onClose()">Close</button>
  </div>
</div>
