<!-- <app-card [heading]="'I am Header'">
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas aut
    dignissimos quo deserunt rerum! Tempore inventore quaerat nobis ex voluptas.
    Repellendus sint a itaque aliquid molestias ipsam magnam officiis ratione!
  </p>
</app-card>
<app-badge [text]="'New'"></app-badge>
<app-badge
  [text]="'New'"
  [textColor]="'#ddd'"
  [background]="'#000'"
></app-badge>

<button (click)="updateOpenStatus()">Update</button>
<app-accordion>
  <app-panel>
    <div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat tempora
      commodi hic repudiandae eius recusandae tempore corporis deserunt harum
      distinctio?
    </div>
  </app-panel>
  <app-panel>
    <div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat tempora
      commodi hic repudiandae eius recusandae tempore corporis deserunt harum
      distinctio?
    </div>
  </app-panel>
  <app-panel [opened]="opened">
    <div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat tempora
      commodi hic repudiandae eius recusandae tempore corporis deserunt harum
      distinctio?
    </div>
  </app-panel>
  <app-panel>
    <div>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat tempora
      commodi hic repudiandae eius recusandae tempore corporis deserunt harum
      distinctio?
    </div>
  </app-panel>
</app-accordion>
<div class="container">
  <div class="row">
    <div class="col welcome-section border">
      <h1>Welcome Back</h1>
      <p>Sign in continue access</p>
    </div>
    <div class="col sign-in-section border">
      <app-sign-in></app-sign-in>
    </div>
  </div>
</div> -->
